.top-panel {
    display: flex;
    gap: 24px;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-block: 20px;
    border: 1px solid gray;
    margin-top: 30px;
    border-radius: 8px;
  }  