.crypto-detailed-container{

    width: 100%;
    .selectCoinDay{
        display: flex;
    }
    
    .crypto-detail-graph{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}