.graph-wrapper {

    position: relative;
    height: 500px;
  
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  background-color: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  padding-bottom: 2rem;

}

canvas {
  transition: transform 0.3s ease;
  cursor: crosshair;
}
canvas:hover {
  transform: scale(1.01);
}
