*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-frame{
    background: linear-gradient(135deg, #3c2a61, #5e4f76);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}